body {
    background-color: slategray;
  }
  /*This controls the look and position of the "check" button*/
  button[type="button"] {
    background-color: blue;
    color: white;
  }
  /*This controls the position and size of the "result"*/
  #result {
    text-align: center;
    margin: 0 auto;
    width: 300px;
    padding: 10px;
  }